{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "FEEDBACK_STORAGE_CONN": "UseDevelopmentStorage=true"
  }
}
